// modules used
@use '../../modules/global' as *;
@use '../../modules/mixins' as *;
@use '../../modules/variables' as *; 

/*-------------------------------
        MOBILE NAV SECTION
-------------------------------*/

.mobile__navbar {
  @include position(fixed, 0, 0, 0, auto);
    width: 400px;
    background: #1a2934;
    padding-top: 100px;
    transform: translateX(100%);
    will-change: transform;
    z-index: 101;

    @media screen and (max-width:25rem){
      width: 100vw;
    }

    &__ul {
      @include flex(flex-start, flex-start, column nowrap, 0.5rem);
      padding-left: 2rem;

      @media screen and (max-width:25rem){
        @include flex(center, center, column nowrap, 0.5rem);
        padding-left: 0;
      }

      &__li {
        color: $white;
        display: block;
        transform-origin: 20px 50%;
        font-size: 3rem;
        padding: 5px;
        will-change: transform, opacity, filter;
        cursor: pointer;
        // background-color: red;

          &::before {
            content: "";
            @include position(absolute, 100%, auto, auto, 10%);
            @include width-height(80%, 5%);
            background: $primary;
            z-index: -10;
            transform: scale(0);
            transition: 0.3s ease-in-out;
          }

        &:hover::before {
            transform: scale(1);
        }
      }
    }
  }

  .menuToggleBtn {
    @include position(absolute, 1.1rem, 3rem, auto, auto);
    @include width-height(50px, 50px);
    cursor: pointer;
    background-color: transparent;
    z-index: 102;

    @media screen and (min-width: 48rem) {
      display: none;
    }
  }

