// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        ENDORSEMENTS SECTION
-------------------------------*/

.endorsements_wrapper{
  padding: 0 2rem;
  // border: 1px solid red;
}

.swiper {
  max-width: 70rem;
  border-radius: $border-radius;
  // border: 1px solid red;


    .swiper-slide {
      @include flex(flex-start, center, column nowrap, 0.7rem);
        text-align: center;
        padding: 3rem 10rem;
        background: $pure-white;
        color: $gray-text;
        // border: 1px solid red;


        @media screen and (max-width: 768px){
          padding: 3rem 4rem;
        }


        & img {
          @include width-height(5.5rem, 5.5rem);
          border-radius: 50%;
        }

        &_name {
          font-size: 1.1rem;
          font-weight: 600;
        }

        &_job {
          margin-top: -0.5rem;
          font-style: italic;
        }

        &_message {
          font-size: 1.2rem;

        }
    }
}
  


  