// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        FOOTER SECTION
-------------------------------*/

.footer {
    @include flex(center, center, column nowrap, 0);
    @include margin-padding(7rem 0 0 0, 6rem 0 3rem 0);
    background-color: #2d3142;
    color: $gray-text;

    &__wrapper {
        @include flex(flex-start, flex-start, row nowrap, 3rem);
        @include margin-padding(0 1.3rem, 2.5rem);
        max-width: 70rem;
        background-color: $pure-white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        @media screen and (max-width:48rem){
            flex-direction: column;
        }

        .footer__item {

            .footer__title {
                @include text(1.5rem, auto, $headers-font);
                position: relative;
                margin-bottom: 2rem;

                &::after {
                    content: '';
                    @include position(absolute, 120%, auto, auto, 0%);
                    @include width-height(5rem, 10%);
                    background-color: $primary;
                }
            }

            &.footer__item__one {
                flex: 1;

                input {
                    @include width-height(100%, 2.188rem);
                    @include margin-padding(0 0 1rem 0, 10px);
                    border-radius: $border-radius;
                    border: 1px $gray-border solid;
                    display: block;
                }

                textarea {
                    @include text(0.9rem, auto, $text-font, normal, 5px, 1px $gray-border solid);
                    padding: 10px;
                    width: 100%;
                    
                }

                .footer__btn {
                    @include margin-padding(1rem 0 0 0, 1px 0);
                    width: 7.6rem;
                    cursor: pointer;
                    border: 1px solid $primary;

                    &:focus {
                        border: 1px solid dimgray;
                    }

                    span {
                        padding: 8px 0;
                        z-index: 50;
                        font-size: 0.85rem;
                    }
                }
            }


            &.footer__item__two {
                flex: 1.2;

                .footer__social {
                    margin-top: 1rem;
                }
            }
        }
    }

    &__copyright {
        @include text(0.7rem, $light-gray-text);
        text-align: center;
        margin-top: 1rem;
        line-height: 1.5rem;

        &__a {
            @include text(1.05rem, $primary);

            &:hover {
                color: $primary-hover;
            }
        }
    }
}


