// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        HERO SECTION
-------------------------------*/



.hero {
    height: 100vh;
    position: relative;
    background: url('../../public/assets/hero/hero-bg.jpg') no-repeat center / cover;
    // z-index: 100;
    overflow: hidden;
    @include flex(flex-start, center, row nowrap, 0);
    // filter: blur(10px);
    
    &__wrapper {
        width: 55vw;
        margin-left: 8rem;
        z-index: 100;
        // border: 1px solid red;

        @media screen and (max-width:75rem){
            margin-left: 4rem;
        }

        @media screen and (max-width:48rem){
            @include flex(center, center, column nowrap, 0);
            width: 93%;
            text-align: center;
            margin:  0 auto;
        }

        .hero__title {
            @include text(2.6rem, $primary, $headers-font);

            @media screen and (max-width:48rem){
                @include text(2.2rem, $primary, $headers-font);
            }
        }

        .hero__p {
            @include text(1.33rem, $white);
            margin: 1.5rem 0;

            @media screen and (max-width:48rem){
                @include text(1.2rem, $white);
            }
        }

        .hero__span {
            color: $primary;
        }
    }

    &__earth {
        @include position(absolute, 5%, auto, auto, 25%);
        z-index: 30;
        border: 1px dotted red;

        @media screen and (max-width:48rem){
            display: none;
        }
    }

    &__star {
        @include position(absolute, auto, auto, 80%, 90%);
        width: 10rem;
        z-index: 29;
        
    }
}


.blur-effect {
    background-color: red;
}