// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        HERO SECTION
-------------------------------*/

.hero {
    height: 90vh;
    position: relative;
    background: url('../../public/assets/hero/hero-bg.jpeg') no-repeat center / cover;
    z-index: 100;
    overflow: hidden;
    @include flex(center, flex-start, column nowrap, 0);
    
    &__wrapper {
        width: 55%;
        margin-left: 7rem;

        @media(max-width:768px){
            @include flex(center, center, column nowrap, 0);
            width: 93%;
            text-align: center;
            margin:  0 auto;
        }

        .hero__title {
            @include text(2.6rem, $yellow, $headers-font);

            @media(max-width:768px){
                @include text(2.2rem, $yellow, $headers-font);
            }
        }

        .hero__p {
            @include text(1.33rem, $white);
            margin: 1.5rem 0;

            @media(max-width:768px){
                @include text(1.2rem, $white);
            }
        }

        .hero__span {
            color: $yellow;
        }
    }
}

