// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        PROJECTS SECTION
-------------------------------*/

.projects {
    @include flex(center, flex-start, row nowrap, 0);
    text-align: center;
    color: $gray-text;

    .projects__wrapper {
        @include grid(center, 5rem, 2);
        background-color: transparent;
        margin: 0 1.3rem;
    
        @media screen and (max-width:75rem) {
            @include grid(center, 3rem, 1);
        }
    
        .projects__item-global {
            @include flex(center, center, column nowrap, 2rem);
            width: 32.5rem;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            background: $pure-white;
            overflow: hidden;
            

            @media screen and (max-width:31.25rem){
                width: 100%;
            }

            .projects__image {
                
            }
    
            .projects__text {
                @include flex(center, center, column nowrap, 1rem);
                padding: 0 1.3rem;
                text-align: center;
    
                &__h3 {
                    @include text(1.7rem, auto, $headers-font);
                }
            }
    
            .projects__techUsed {
                @include flex(center, center, column nowrap, 0.5rem);
                font-size: 1.3rem;
                
                &__images {
                    @include flex(center, center, row nowrap, 0.5rem);
                }
            }
    
            .projects__btn__container {
                @include flex(center, center, row nowrap, 1.8rem);
                margin-bottom: 2.5rem;

                @media screen and (max-width:31.25rem){
                    @include flex(center, center, column nowrap, 1.5rem);
                }
            }
        }
    }
}


