
// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        SKILLS SECTION
-------------------------------*/

.skills {
    @include flex(center, center, column nowrap, 4rem);
    padding: 4rem 0rem;
    background-color: $testing;
    
    &__wrapper {
        @include grid(center, 2rem, 5);
        font-size: 1.1rem;

        @media(max-width:768px) {
        grid-template-columns: repeat(2, 1fr); 
        }

        .skills__card {
            @include flex(center, center, column nowrap, 0);
            color: $white;

            .skills__image {

                @media(max-width:480px){
                    @include width-height(5rem, 5rem);
                }
            }
        }
    }
}
