// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 


.projects__wrapper {
    @include grid(center, 3rem, 2);
    background-color: transparent;
    padding: 5rem 0;

    @media(max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects__item-global {
        @include flex(center, center, column nowrap, 2.5rem);
        width: 25rem;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        background: $pure-white;
        
        .projects__image{
            width: 300px;
            height: 300px;
        }

        .projects__text {
            @include flex(center, center, column nowrap, 2rem);
            padding: 0 1.3rem;
            // border-radius: 0 0 5px 5px;
            text-align: center;

            &__h3 {
                @include text(1.7rem, auto, $headers-font);
            }
        }

        .projects__btn__container {
            @include flex(center, center, row nowrap, 1.8rem);
            margin-bottom: 2.5rem;
        }
    }
}