// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 


.projects__wrapper {
    @include grid(center, 3rem, 2);
    background-color: transparent;


    @media(max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects__item-global {
        width: 25rem;
        box-shadow: $box-shadow;
        border-radius: 5px;



        // all project pictures (thumbnails)
        .projects__one__img {
            background: url('../../public/assets/projects/card-valve.jpeg') no-repeat center / cover;
        }

        .projects__two__img {
            background: url('../../public/assets/projects/card-react.png') no-repeat center / cover;
        }

        .projects__three__img {
            background: url("../../public/assets/projects/card-portfolio.jpeg") no-repeat center / cover;
        }

        .projects__four__img {
            background: url("../../public/assets/projects/card-bootstrap.jpeg") no-repeat center / cover;
        }

        .projects__global__img {
            height: 18.75rem;
            border-radius: 5px 5px 0 0;
        }

        .projects__text {
            padding: 2rem 1.3rem;
            border-radius: 0 0 5px 5px;
            background: $pure-white;

            .projects__h3 {
                @include text(1.4rem, auto, $headers-font);
                margin: 1rem 0;
            }

            .projects__p {
                margin: 1.3rem 0 3rem 0;
            }

            .projects__btn__container {
                @include flex(center, center, row nowrap, 1.8rem);
            }
        }
    }
}