// module within a module because mixin "text" is using $text-font
@use 'variables' as *;

// --- MIXINS MODULE ---

// used for setting the flexbox layouts
@mixin flex($justify: flex-start, $align: center, $flow: row nowrap, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: $flow;
    gap: $gap;
}

// used for setting the grid layouts
@mixin grid($place-items, $gap, $cols) {
    display: grid;
    place-items: $place-items;
    gap: $gap;
    grid-template-columns: repeat($cols, 1fr);
}

// used for setting the element positioning
@mixin position($position, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// used for styling text, border and typography
@mixin text($size, $color, $font-family: $text-font, $weight: normal, $border-radius: none, $border: none) {
    font-size: $size;
    color: $color;
    font-family: $font-family;
    font-weight: $weight;
    border-radius: $border-radius;
    border: $border;
}

// used for setting element width and height
@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

// used for setting element margin and padding
@mixin margin-padding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}




