
// VARIABLES MODULE

// solid colors
$pure-white: white;
$pure-black: black;

// solid color variables
$white: #f1f1f1;
$light-gray-text: #D3D3D3;
$gray-text: #4d5055;
$gray-border: #a7a7a7;

// primary colors
$yellow: #FFC654;
$hover-yellow: #F7B42D;

// secondary colors
$link-color: #2E72B2 ;
$link-hover-gradient-1: #2E72B2;
$link-hover-gradient-2: #3C87CD;
$link-hover-gradient-3: #D8AD48;
$link-hover-gradient-4: #F7B42D;

$box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.10);

// fonts (headers and text)
$headers-font: 'PT Sans Caption', sans-serif;
$text-font: 'Poppins', sans-serif;
